extends layout

block content
  h1= title
  p Welcome to #[em Healthly], a very basic Express app for weight control.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The registry has the following record counts:

    ul
      li #[strong Days:] !{days_total}
